/* Font Merriweather */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

body{
    background-image: url("/img/marble.jpg");
    height: 100vh;
    font-family: 'Merriweather', serif;
    /*parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.trans-back{
    background-image: linear-gradient(-80deg,rgba(45, 150, 186, 0.734), rgba(199, 36, 36, 0.734));
    /* background-color: rgba(255, 255, 255, 0.544);*/
}
/* Start Title Box */
.title-box{
    height: calc(100vh - 55px);
}
.title-text{
    font-size: 150px;
    color: #ffffff;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.slogan{
    font-size: 25px;
    color: #ffffff;
}
/* Arrow down Indicators */
.indicator{
    position: absolute;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    bottom: 4vh;
}
.indicator span{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    animation: animate 2s linear infinite;
}
.indicator span:nth-child(1){
    top: -10px;
    left: -10px;
    animation-delay: 0s;
}
.indicator span:nth-child(2){
    top: -5px;
    left: -5px;
    animation-delay: 0.2s;
}
.indicator span:nth-child(3){
    top: 0px;
    left: 0px;
    animation-delay: 0.4s;
}
/* END Arrow down Indicators */
/* END Title Box */
.margin-60{
    margin: 60px 0px;
}
.b-rad-3{
    border-radius: 3px;
}
/*UX UI HOVER */
.line-height{
    line-height: 50px;
}

.img-box {
    padding: 0;
    box-shadow: 4px 4px rgba(32, 31, 31, 0.522);
}
.image {
    display: block;
    width: 100%;
    height: 500px;
}
.overlay1, .overlay2 {
    position: absolute;
    padding: 15px;
    height: 500px;
    opacity: 0;
    transition: .5s ease;
}
.brain-text{
    color: #ffffff;
}
.overlay1{
    background-color: rgba(45, 150, 186, 0.734);
}
.img-box:hover .overlay1 {
    opacity: 1;
}
.overlay2 {
    background-color: rgba(199, 36, 36, 0.734);
}
.img-box:hover .overlay2 {
    opacity: 1;
}
/* END UX UI HOVER */
.white-trans{
    background-color: rgba(255, 255, 255, 0.68);
}
.example{
    height: 400px;
    padding: 0;
}
/* Contact Form */
.contact-form{
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
}
/* END Contact Form */
.footer{
    height: 200px;
    background-color: #343a40;
}


@keyframes animate{
    0%{
        border-color: #ffffff;
        transform: translate(0,0);
    }
    20%{
        border-color: #222;
        transform: translate(5px,5px);
    }
    20.1%, 100%{
        border-color: #222;
    }
}

@media only screen and (max-width: 600px){
    .title-text{
        font-size: 50px;
    }
    .line-height{
        line-height: 30px;
    }
    .img-box{
        box-shadow: none;

    }
    .image {
        margin-top: 20px;
        height: 300px;
        width: 300px;
      }
    .overlay1, .overlay2 {
        margin-top: 20px;
        height: 300px;
        width: 300px;
      }
      .dev-img{
        height: 600px;
        width: 100%;
    }
    .example{
        margin: 20px 0px;
    }
    }